*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#0F172A;

    font-family:Arial,sans-serif;

    color:white;

    display:flex;

    justify-content:center;

    padding:40px;
}

.container{

    width:800px;

}

.hero{

    text-align:center;

    margin-bottom:40px;
}

.hero h1{

    font-size:42px;

    margin-bottom:15px;
}

.hero p{

    color:#CBD5E1;

    line-height:28px;
}

.upload-box{

    background:#1E293B;

    padding:30px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.3);

    margin-bottom:30px;
}

input{

    margin-bottom:20px;

    color:white;
}

button{

    background:#3B82F6;

    color:white;

    border:none;

    padding:14px 30px;

    border-radius:10px;

    cursor:pointer;

    font-size:17px;

    transition:.3s;
}

button:hover{

    background:#2563EB;

    transform:scale(1.05);
}

.result-card{

    background:#1E293B;

    padding:30px;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.result-card h2{

    margin-bottom:20px;
}

pre{

    white-space:pre-wrap;

    color:#E2E8F0;

    line-height:28px;
}

footer{

    text-align:center;

    margin-top:40px;

    color:#94A3B8;

    font-size:14px;
}
#drop-area{

    border:2px dashed #3B82F6;

    border-radius:15px;

    padding:40px;

    transition:.3s;

    cursor:pointer;

    margin-bottom:20px;
}

#drop-area:hover{

    background:#273549;
}

#drop-area.dragover{

    border-color:#22C55E;

    background:#1d3b2f;
}

#drop-area p{

    margin:10px;
}

#file-name{

    color:#22C55E;

    font-weight:bold;

    margin-top:15px;
}